bitbucket:
  # if developing locally, it's much faster to skip the atlassian download.
  # Put your atlassian-bitbucket.tar.gz in salt/jira/, and uncomment this:
  # source_url: salt://bitbucket
  source_hash: 'md5=b530a30d3d68c20145f77e9b0ea05fc5'
  version: 4.3.0

  jvm_Xms: 768m
  jvm_Xmx: 768m
