{%- from 'bitbucket/conf/settings.sls' import bitbucket with context %}

<VirtualHost {{ bitbucket.webserver_fqdn }}:80>
    ServerName {{ bitbucket.webserver_fqdn }}
 
    ProxyRequests Off
    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>
 
    ProxyPass / http://localhost:7990/
    ProxyPassReverse / http://localhost:7990/
    <Location />
        Order allow,deny
        Allow from all
    </Location>
</VirtualHost>
